.page1 {
	background: url(image/p1_2.png) no-repeat;
	background-size: cover;
}

.page1 img {
	position: absolute;
}

.page1 img:nth-of-type(1) {
	/* 所有样式以REM为单位：把测出来的PX除以100即可 */
	width: 0.8rem;
	height: 0.3rem;
	left: 1rem;
	top: .9rem;
}

.page1 img:nth-of-type(2) {
	width: 3.8rem;
    height: 0.7rem;
    top: 0rem;
    right: 0rem;
}

.page1 img:nth-of-type(3) {
	width: 2rem;
    height: 2.9rem;
    left: 0rem;
    top: 0.5rem;
}

.page1 img:nth-of-type(4) {
	width: 1.7rem;
    height: 1.7rem;
    left: 1.9rem;
    top: 0.6rem;
}

.page1 img:nth-of-type(5) {
	width: 4.6rem;
    height: 2.8rem;
    right: -1.45rem;
    bottom: 2.5rem;
}

.page1 img:nth-of-type(6) {
	width: 2.4rem;
    height: 0.95rem;
    right: 0.65rem;
    bottom: 1.7rem;
}

/* PAGE2 */
.page2 {
	background: url(image/p1_2.png) no-repeat;
	background-size: cover;
}

.page2 img {
	position: absolute;
}

.page2 img:nth-of-type(1) {
	width: 5.5rem;
    height: 0.8rem;
    left: -1.1rem;
    top: 0.1rem;
} 

.page2 img:nth-of-type(2) {
	width: 1.5rem;
    height: 2.1rem;
    left: 0.25rem;
    top: 1.2rem;
} 

.page2 img:nth-of-type(3) {
	width: 1.65rem;
    height: 1.7rem;
    right: 0.25rem;
    top: 1.5rem;
}
.page2 img:nth-of-type(4) {
	width: 1.65rem;
    height: 1.7rem;
    right: 1.9rem;
    top: 4.5rem;
}
.page2 img:nth-of-type(5) {
	width: 1.5rem;
    height: 2.1rem;
    left: 2rem;
    top: 4.2rem;
} 
.page2 img:nth-of-type(6) {
	width: 3.8rem;
    height: 0.45rem;
    left: 0rem;
    top: 0.8rem;
} 
.page2 img:nth-of-type(7) {
	width: 3.8rem;
    height: 0.45rem;
    left: 0rem;
    top: 3.5rem;
} 
/* PAGE3 */
.page3 {
	background: url(image/p1_2.png) no-repeat;
	background-size: cover;
}

.page3 img {
	position: absolute;
}

.page3 img:nth-of-type(1) {
	width: 3.8rem;
    height: 0.45rem;
    left: 0rem;
    top: 0.7rem;
} 

.page3 img:nth-of-type(2) {
	width: 1.5rem;
    height: 2.1rem;
    left: 0.25rem;
    top: 1.2rem;
} 

.page3 img:nth-of-type(3) {
	width: 1.65rem;
    height: 1.7rem;
    right: 0.25rem;
    top: 1.5rem;
}
.page3 img:nth-of-type(4) {
	width: 3.8rem;
    height: 0.45rem;
    left: 0rem;
    top: 3.5rem;
}
.page3 img:nth-of-type(5) {
	width: 1.65rem;
    height: 1.7rem;
    right: 1.9rem;
    top: 4.5rem;
} 
.page3 img:nth-of-type(6) {
	width: 1.5rem;
    height: 2.1rem;
    left: 2rem;
    top: 4.2rem;
} 
/* PAGE4 */
.page4 {
	background: url(image/p1_2.png) no-repeat;
	background-size: cover;
}

.page4 img {
	position: absolute;
}

.page4 img:nth-of-type(1) {
	width: 3.8rem;
    height: 0.45rem;
    left: 0rem;
    top: 0.5rem;
} 

.page4 img:nth-of-type(2) {
	width: 1.5rem;
    height: 2.1rem;
    left: 0.25rem;
    top: 1.1rem;
} 

.page4 img:nth-of-type(3) {
	width: 1.65rem;
    height: 1.7rem;
    right: 0.25rem;
    top: 1.2rem;
}
.page4 img:nth-of-type(4) {
	width: 3.2rem;
    height: 0.5rem;
    right: 0.25rem;
    bottom: 2.8rem;
}
.page4 img:nth-of-type(5) {
	width: 4rem;
    height: 2.1rem;
    right: 0rem;
    bottom: 0rem;
}